footer{
	padding:150px 0;
	background-color: rgba(32,23,19,.5);
	color:white;
}

footer::after {
  content: "";
  background: url(team.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 -250px;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}